/* increase/decrease  item */

.increase-decrease {
    display: flex;
    align-items: center;
    width: 6rem;
    border: 1px solid gray;
    border-radius: var(--size2);
    font-size: var(--size8);
    margin: auto;
    padding: var(--size3) 0;
}

.increase-decrease button:nth-child(odd) {
    margin: 0 var(--size7);
    cursor: pointer;
    background-color: transparent;
    border-style: none;
}

.increase-decrease button:hover{
  background-color: bisque;
}

.line-through {
    color: var(--color-error);
    margin-left: 6px;
}

.h4{
    margin-left: 1rem;
}
/* price summary */

.price-summary {
    background-color: #add8e6;
    padding: var(--size11);
    height: 50%;
    width: 30%;
    right: 0;
    position: fixed;
    top: 10%;
    overflow: auto;
}

.empty-message{
    display: flex;
    justify-content: center;
}
/*product in checkout bill */

.product-summary {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;

}

.product-content {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.price-summary .price-header {
    display: flex;
}

.price-header .title {
    margin-left: var(--size8);
}

.total-price {
    border-bottom: var(--size1) solid var(--color-black);
}

.total-price div {
    margin: var(--size2) 0;
    padding: var(--size2) 0;
}

.price-summary .h5 {
    color: var(--color-success);
}

.button.outline {
    margin: 0;
    padding: 0;
}

.h4 {
    margin-right: var(--size10);
}

.button.outline,
.h4 {
    display: inline-flex;
}
.action-button{
  background-color: rgb(248, 241, 198);
  border-style: none;
  cursor: pointer;
  padding: 10%;
}
.discounted-percentage{
    color: rgb(20, 141, 9);
    font-size: 16px;
}
.cart-wishList{
    background-color: transparent;
    border-style: none;
    
}

.card .text-div .cart-page-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
 margin-top: 0;
}
@media only screen and (max-width:940px) {
    .increase-decrease button:nth-child(odd) {
        margin: 0 var(--size3);
    }

}