@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@300&display=swap');

.shopping-section {
    display: flex;
    flex-wrap: wrap;
    margin: var(--size0) var(--size10);
}

.card {
    margin: var(--size20);
    box-shadow: 1px 1px 5px var(--color-black);
}

.card .text-div .header-top {
    color: rgb(0, 0, 255);
    padding: var(--size0) 10%;
    font-size: var(--size12);
    font-family: 'BioRhyme', serif;
    font-weight: bolder;
}

.text-overlay-card .text-div .header-top {
    top: 0%;
    left: 0%;
    background-color: var(--color-primary);
    color: var(--color-white);
    margin-left: var(--size0);
}

.card.text-overlay-card .text-div .header-bottom {
    margin-left: var(--size0);
    left: var(--size0);
    top: 52%;
    padding:0 var(--size8);
    font-size: var(--size12);
    color: var(--color-black);
    background-color: var(--color-white);
}

.card .text-div .card-icons.icons {
    margin-left: 10%;
    font-size: var(--size10);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--size20);
    background: var(--color-success);
}

a {
    text-decoration: none;
    color: inherit;
}
@media only screen and (max-width: 638px) {

    .body-div .body-div-content:nth-child(odd) {
        top: 0%;
        margin-top: 30%;
    }

}

@media only screen and (max-width:940px) {
    /* homepage */
   

    .card {
        margin: var(--size12);
    }
    /* for product listing page */

    .shopping-section {
        margin-left: 0
    }

    .card .price-summary {
        width: 50%;
        background-color: black
    }
}
 