.body-div {
    position: relative;
}



.body-div .body-div-content:nth-child(even) {
    position: absolute;
    top: 0%;
    left: 33%;
    padding: var(--size6) var(--size8);
    font-weight: bolder;
    color: var(--color-white);
}

.body-div .body-div-content:nth-child(odd) {
    position: absolute;
    top: 10%;
    left: 35%;
    color: var(--color-white);
    border: var(--size1) solid var(--color-white);
    font-weight: bolder;
    padding: var(--size6) var(--size8);
}

.body-div .body-div-content:nth-child(odd):hover {
    background-color: var(--color-icon);
}