/* increase/decrease  item */

.wishlist-summary {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;

}


.line-through {
    color: var(--color-error);
}

.product-content {
    display: flex;
    flex-wrap: wrap;
}

.h4 {
    margin-left: var(--size10);
    color: var(--color-info);
}