/* increase/decrease  item */

.wishlist-summary {
  display: flex;
  flex-wrap: nowrap;
}

.line-through {
  color: var(--color-error);
}

.product-content {
  display: flex;
  flex-wrap: wrap;
}

.h4 {
  margin-left: var(--size10);
  color: var(--color-info);
}

.wishlist-summary .product-content{
  width: 100%;
}
.total-wishlist-items
{
  margin-top: 4rem;
}